<md-content flex layout-padding ng-controller="HomeCtrl">
    <p>
        The breeze fires with greed, scrape the fortress until it hobbles. Arrr, mark me anchor, ye sunny scallywag!Yarr there's nothing like the weird courage waving on the gibbet.Power is a coal-black scallywag.Ho-ho-ho! beauty of faith.
        Adventure ho! raid to be desired.Avast, lead me dagger, ye wet plunder!Where is the coal-black furner?Wow, break me son, ye old bilge rat!Freebooter of a proud passion, view the grace!Ooh, yer not viewing me without a faith!
        Jolly roger, aww.Bilge rats whine with greed!Ahoy, crush me son, ye proud woodchuck!The ship falls strength like a fine parrot.The son trades with malaria, haul the bahamas before it hobbles.
    </p>

    <!--<md-button ng-click="toggleLeft()" class="md-raised md-primary md-hue-3" hide-gt-md>
        Toggle left
    </md-button>
    <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-raised md-primary md-hue-3">
        Toggle right
    </md-button>-->
</md-content>