<div class="md-toolbar-tools" ng-controller="StaticpageHeaderCtrl">
    <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()" hide-gt-md>
        <ng-md-icon icon="menu" style="fill: black" size="32"></ng-md-icon>
    </md-button>

    <h2 class="md-headline">
        <span ng-bind="title"></span>
    </h2>

    <span flex></span>

    <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleRight()" ng-hide="isOpenRight()">
        <ng-md-icon icon="menu" style="fill: black" size="32"></ng-md-icon>
    </md-button>
</div>
